<main class="bg-gray-100 flex justify-center h-screen">
  <div class="mt-8 bg-white p-10 rounded lg:w-4/5 w-11/12">
    <.flash_group flash={@flash} />
      <div>
        <%= @inner_content %>
      </div>
  </div>  
</main>
